/* Main container */

.container {
  width: 100%;
  min-height: 100svh;
  padding: 50px 4.5%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background-image: linear-gradient(to bottom right, var(--blue-opacity-color), var(--blue-opacity-color)),
    url("../../assets/Images/auth_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header_cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.header {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--salt-color);
}

.description {
  font-size: 1rem;
  color: var(--gray-color-1);
}

.buttonContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.buttonContainer button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  padding: 20px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.buttonContainer button svg{
  font-size: 1.5rem;
}

.primaryButton {
  color: var(--salt-color);
  border: 2px solid var(--salt-color);
  background-color: transparent;
}

.outlineButton {
  background-color: var(--salt-color);
  color: var(--blue-color);
  border: 2px solid var(--salt-color);
}

/* Statistics Dashboard styles */

.statsGrid {
  width: 768px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.statsCard {
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--gray-color-3);
}

.iconContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--black-color);
  background: var(--gray-color-3);
}

.iconContainer svg{
  font-size: 1.5rem;
}

.statsContent {
  flex: 1;
}

.statsLabel {
  font-size: 1rem;
  color: var(--gray-color-2);
}

.statsValue {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black-color);
}

.infoBox {
  width: fit-content;
  margin: 0 auto;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--gray-color-3);

}

.infoIconContainer svg {
  font-size: 1.5rem;
  color: var(--gray-color-2);
}

.infoText {
  font-size: 0.875rem;
  color: var(--gray-color-2);
  max-width: 768px;
}

/* FAQ styles */

.acc_cont{
  width: 100%;
  padding: 50px 2.25%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--white-color);
}

.sec_title{
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black-color);
  text-align: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.item{
  width: 100%;
  padding: 20px 2.25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  background-color: var(--salt-color);
  border: 1px solid var(--gray-color-3);
  cursor: pointer;
}

.title2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black-color);
}

.title2 span{
  font-size: 1.5rem;
  transition: 0.3s;
}

.arrow_side_active{
  transform: rotate(180deg);
}

.content{
  color: var(--gray-color-2);
  font-size: 1rem;
}

/* Media queries for responsive design */

@media (max-width: 1245px) {
  .buttonContainer {
    flex-direction: row;
  }

  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 860px) {
  .statsGrid {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .buttonContainer {
    width: 100%;
    flex-direction: column;
  }

  .buttonContainer button {
    width: 100%;
  }

  .statsGrid {
    width: 100%;
    grid-template-columns: 1fr;
  }
}