/* Main container */

.container {
  width: 100%;
  padding: 50px 4.5%;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--salt-color);
}

/* Vehicle Status Checker styles */

.header_cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--black-color);
}

.description {
  font-size: 1rem;
  color: var(--gray-color-2);
}

.buttonContainer {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.buttonContainer button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.buttonContainer button svg{
  font-size: 1.25rem;
}

.primaryButton {
  color: var(--salt-color);
  border: none;
  background-color: var(--blue-color);
}

.outlineButton {
  background-color: var(--salt-color);
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}

/* Statistics Dashboard styles */

.statsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.statsCard {
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--gray-color-3);
}

.iconContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--black-color);
  background: var(--gray-color-3);
}

.iconContainer svg{
  font-size: 1.5rem;
}

.statsContent {
  flex: 1;
}

.statsLabel {
  font-size: 1rem;
  color: var(--gray-color-2);
}

.statsValue {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black-color);
}

.infoBox {
  width: fit-content;
  margin: auto;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--gray-color-3);

}

.infoIconContainer svg {
  font-size: 1.5rem;
  color: var(--gray-color-2);
}

.infoText {
  font-size: 0.875rem;
  color: var(--gray-color-2);
  max-width: 500px;
}

/* Media queries for responsive design */

@media (max-width: 1245px) {
  .buttonContainer {
    flex-direction: row;
  }

  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 620px) {
  .title{
    font-size: 2.5rem;
  }
  
  .description{
    font-size: 0.75rem;
  }

  .buttonContainer{
    flex-direction: column;
  }

  .buttonContainer button{
    width: 100%;
  }

  .statsGrid {
    grid-template-columns: 1fr;
  }
}

/* FAQ styles */
.wrapper{
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.accordion{
 max-width: 70rem;

}
.item{
padding: 10px 20px;
}
  .title2{
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    font-weight: 700;
    width: 70rem;

    color: #111827;
    background-color: var(--color-white);
    padding: 14px 17px;
    border-radius: 13px;
}
.content{
  color: var(--gray-color-2);
  font-size: 1rem;
  letter-spacing: .5px;
  line-height: 1.5rem;
}