.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 4.5%;
    transition: 0.3s;
    z-index: 1000;
}

.header_scroll{
    padding: 0 !important;
}

.navbar{
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 4.5% ;
    margin: auto;
    background-color: var(--white-color);
    box-shadow: 0px 0px 10px var(--black-opacity-color-1);
    transition: 0.3s;

}

.navbar_scroll{
    border-radius: 0;
    box-shadow: 0px 10px 10px var(--black-opacity-color-1);
}

.logo{
    height: 50px;
}

.logo img{
    height: 100%;
}

.links{
    display: flex;
    align-items: center;
    gap: 15px;
}

.links a{
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--gray-color-2);
    border-radius: 5px;
    transition: 0.3s;

    &:hover{
        color: var(--blue-color) !important;
        background-color: var(--gray-color-3);
    }
}

/* .active_li{
    color: var(--blue-color) !important;
    background-color: var(--gray-color-3);
} */


.account{
    display: flex;
    align-items: center;
    gap: 15px;
    transition: ease 0.3s;
}

.login{
    text-align: center;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    color: var(--blue-color);
        background-color: var(--gray-color-3);
    transition: 0.3s;

    &:hover{
        color: var(--white-color);
        background-color: var(--blue-color);
    }
}

.account .register{
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--blue-color);
    color: var(--white-color);
}

.burger_cont{
    display: none;
}

.menu_btn{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 3rem;
    color: var(--blue-color);
    background-color: var(--gray-color-3);
}

/* ================================================= */

@media only screen and (max-width:1035px){

    .burger_cont{
        display: block;
    }

    .links{
        position: fixed;
        width: 91%;
        height: calc(100vh - 150px);
        top: 110px;
        left: 4.5%;
        padding: 20px 4.5%;
        flex-direction: column;
        gap: 25px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transition: ease .3s;          
        background-color: var(--white-color);
        box-shadow: 0px 0px 10px var(--black-opacity-color-1);
        z-index: 150;
    }

    .links_scroll{
        left: 0;
        width: 100%;
        height: calc(100vh - 89px);
        border-radius: 0px;
        box-shadow: none;
        border-top: 1px solid var(--gray-color-3);
    }

    .links li{
        width: 100%;
        text-align: center;
    }

    .links a{
        width: 100% !important;
    }

    .account{
        padding: 0px 4.5%;
        position: fixed;
        width: 91%;
        left: 4.5%;
        bottom: 60px;
        opacity: 0;
        visibility: hidden;
        justify-content: center;
        z-index: 150;
    }

    .account_scroll{
        left: 0;
        width: 100%;
    }

    .account a{
        width: 50%;
    }

    #links.active{
        top: 130px;
        opacity: 1;
        visibility: visible;
    }

    #links.active_scroll{
        top: 89px;
        opacity: 1;
        visibility: visible;
    }

    .account.active_auth{
        bottom: 40px;
        opacity: 1;
        visibility: visible;
    }

}

@media only screen and (max-width:530px){

    .account{
        flex-wrap: wrap;
    }

    .account a{
        width: 100%;
    }

}