/* body{
    margin: 0;
    height: 100vh;
    -webkit-font-smoothings:antialiased;   
    -moz-osx-font-smoothings:grayscale;
     background: linear-gradient(#2A00b7,#42006c);
     background: rgb(49, 49, 244);
     background: rgb(6, 155, 254);
     background: rgba(5, 117, 229, 255);
     
}
.container{
   z-index: 10000;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 70px;
    max-width: 840px;
    width: 100%;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 17px;
}
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}
.text{
    color: black;
    font-size: 41px;
    font-weight:700 ;
}


 .inputs{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
 }
 .input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 410px;
    height: 80px;
    border-radius: 16px;
    border:solid .5px #9e9c9c;
 }
 .input img{
    margin: 0px 20px;
 }

 .input input{
    height: 50px;
    width: 370px;
    border: none;
    color: #595858;
    outline: none;
    font-size: 19px;
    letter-spacing: 1.3px;
 }
 .forget-password{
    padding-left: 8px;
    margin-top: 1px;
    color: #797979;
    font-size: 18px;
 }
 .name{
   display: flex;
 }
 .name .input{
   width: 220px;
 }
 .forget-password span{
    color: rgb(6, 155, 254);
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
 }

 .submit-container{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;

 }
 .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 399px;
    height: 49px;
    margin-left: 33px;
    color: #fff;
    background: rgba(5, 117, 229, 255);
    border-radius: 13px;
    font-weight: 300;
    font-size: 21px;
    cursor: pointer;
 }
 .login{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #797979;    
 }

.login-gray{
   margin-top: 10px;
   text-align: center;
   font-size: 14px;
   color: #797979;
}
 a{
margin: 8px;
color: rgb(6, 155, 254);

} */
